.flex_item {
  color: #000080;
  display: flex;
}

.title {
  color: #000080;
  margin: 30px 0px 0px 30px;

}

.title2 {
  margin: 0 0 0 auto;
  padding: 30px 0px 0px 0px;
}

.practice_title {
  color: #000080;
  margin: 10px;
  text-decoration:none;
}

.practice_title2 {
  color: #000080;
  margin: 10px;
  text-decoration:none;
}

.practice_title3 {
  color: #000080;
  margin: 10px;
  text-decoration:none;
}

.practice_title4 {
  color: #000080;
  margin: 10px;
  text-decoration:none;
}

.card_content {
  position: relative;
  top: 100px;
}

.card_cat {
  margin: 0 0 0 auto;
  display: block;
  position: relative;
  width: 50%;
}

.comment {
  font-size: 400%;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
  margin-top: -200px;
}

.grid {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 3fr 1fr;
}

.box1 {
  background: #000080;
}